.form {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5vh;
}

header {
  margin: 0 auto;
}

.form-header {
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid red;
}

.form > div:not(:first-of-type) {
  padding-top: 5vh;
}

.form-input {
  height: 5vh;
  border: 1px solid gray;
  border-radius: 7px;
  padding: 3% 5%;
}

.submit-button {
  margin: 5vh auto 0 auto;
  max-width: 300px;
  background: #8c2131;
  color: #f3cd00;
  border: 2px solid #eee;
  border-radius: 40px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  padding: 3%;
  font-weight: 600;
  -webkit-transition-duration: 0.4s; //for Safari, apparently?
  transition-duration: 1s;
}

// invert submit button colors on hover
.submit-button:hover {
  background: #f3cd00;
  color: #8c2131;
  border: 2px solid #eee;
  border-radius: 40px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}

// make the submit button clearly flash green when clicked
.submit-button:active {
  background: greenyellow;
  color: black;
  border: 2px solid #eee;
  border-radius: 40px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  transition: 0s;
}

h1 {
  font-size: calc(30px + 0.5vw);
  margin-top: 2%;
  font-weight: 500;
  color: maroon;
}

.formPrompt {
  margin-top: 1%;
  font-size: calc(15px + 0.3vw);
  font-weight: 450;
}

.form-textarea {
  height: 25vh;
}

@media screen and (min-width: 699px) {
  .form {
    width: 680px;
    margin: 0 auto;
  }

  .form-header {
    width: 680px;
  }
}
