.submit-button {
  background: #8c2131;
  color: #f3cd00;
  border: 2px solid #eee;
  border-radius: 40px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  padding: 1vw;
  -webkit-transition-duration: 0.4s; //for Safari, apparently?
  transition-duration: 1s;
}

// invert submit button colors on hover
.submit-button:hover {
  background: #f3cd00;
  color: #8c2131;
  border: 2px solid #eee;
  border-radius: 40px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}

// make the submit button clearly flash green when clicked
.submit-button:active {
  background: greenyellow;
  color: black;
  border: 2px solid #eee;
  border-radius: 40px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  transition: 0s;
}

h1 {
  font-size: calc(30px + .5vw);
  margin-top: 2%;
  font-weight: 500;
  color: maroon;
}

.formPrompt {
  margin-top: 1%;
  font-size: calc(15px + .3vw);
  font-weight: 450;
}
