<!--Brian Langejans: TheBguy87 | Kurt Wietelmann: kwietelmann | 12/10/2022-->
<header>
  <h1>Feedback Form</h1>
</header>

<body>

  <div>Enter your email:</div>
  <input name="formBox" [(ngModel)]="email" type="text" placeholder="Calvin email, if possible.">
  <div>What platform(s) do you use?</div>
  <input name="formBox" [(ngModel)]="platforms" type="text" placeholder="iPhone, Android, PC?">
  <div>Tell us what you think!</div>
  <textarea name="formBox" [(ngModel)]="availability"
    placeholder="Give us ideas, critiques, complaints, etc."
    cols="50" rows="10">
  </textarea>

  <p></p>
  <input (click)="sendMessage()" id="submit-button" class="submit-button" type="submit"
    value="Submit Feedback">

</body>
