.about-header {
  text-align: center;
  margin-top: 2%;
}
.about-header-text {
  font-size: calc(30px + 1.5vw);
  font-weight: 600;
  color: maroon;
  background-color: #ffe13a;

}
.section-header {
  font-size: calc(15px + 1vw);
  margin-top: 2%;
}