.section-header {
  font-size: calc(20px + .5vw);
  margin-top: 2%;
  color: maroon;
}

h1 {
  font-size: calc(30px + .5vw);
  margin-top: 2%;
  font-weight: 500;
  color: maroon;
}

.parent-container{
  margin: 0 auto;
  border: 1px solid red;
}

.chart{
  width: 1000px;
  border: 1px solid red;
  // margin: 0 auto;
}

.chart-container {
  display: flex;
  // justify-content: center;
  flex: 1;
  border-width: 2px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  border: 1px solid red;
}

@media screen and (max-width: 699px) {

}