.section-header {
  font-size: calc(20px + .5vw);
  margin-top: 2%;
  color: maroon;
}

h1 {
  font-size: calc(30px + .5vw);
  margin-top: 2%;
  font-weight: 500;
  color: maroon;
}

.Graph {
  display: flex;
  flex: 1;
  border-width: 2px;
  // border-color: black;
}