<header>
  <h1 class="montserrat-600">Busy Times in the Last Week</h1>
</header>
<div class="parent-container">
  <h2 class="section-header cabin-700">Bolt</h2>
  <div class="chart-container">
    <canvas id="timeDataBolt" class="chart" style="height: 300px"></canvas>
  </div>
  <h2 class="section-header cabin-700">Heyns</h2>
  <div class="chart-container">
    <canvas id="timeDataHeyns" class="chart" style="height: 300px"></canvas>
  </div>
  <h2 class="section-header cabin-700">Timmer</h2>
  <div class="chart-container">
    <canvas id="timeDataTimmer" class="chart" style="height: 300px"></canvas>
  </div>
</div>
