<!--Brian Langejans: TheBguy87 | Kurt Wietelmann: kwietelmann | 12/10/2022-->
<!-- Toolbar navigation help from: https://www.techiediaries.com/angular-material-navigation-toolbar-sidenav/ -->
<mat-toolbar class="custom-toolbar">
  <mat-toolbar-row>
    <img src="assets/knight.png" class="knight-logo" />
    <h1>KnightWash</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home-page'" routerLinkActive="active"> Home </a>
      <a mat-button [routerLink]="'/about-page'" routerLinkActive="active"> About </a>
      <a mat-button [routerLink]="'/admin-page'" routerLinkActive="active"> Admin </a>
      <a mat-button [routerLink]="'/register-page'" routerLinkActive="active"> Register for Testing </a>
      <a mat-button [routerLink]="'/analytics-page'" routerLinkActive="active"> Analytics </a>


    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>