//help with rows and columns from https://www.w3schools.com/howto/howto_css_two_columns.asp
mat-form-field {
  display: block;
}

.card-container {
  display: flex;
  flex: 1;
  border-width: 2px;
  // border-color: black;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-parent-container {
  width: fit-content;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;

  // border: 1px solid green;
}

.building-selector {
  font-size: calc(15px + 0.5vw);
  margin-top: 2%;
  margin-left: 1%;
  font-weight: 500;
  color: maroon;
}

.montserrat-500 {
  font-family: "Montserrat";
  font-weight: 500;
}
.montserrat-400 {
  font-family: "Montserrat";
  font-weight: 400;
}

.cabin-500 {
  font-family: "Cabin";
  font-weight: 500;
}

.cabin-600 {
  font-family: "Cabin";
  font-weight: 600;
}
.cabin-700 {
  font-family: "Cabin";
  font-weight: 700;
}
.machine-header {
  font-size: calc(20px + 0.3vw);
  margin-left: 5%;
  font-size: 1.8rem;
}

@media screen and (min-width: 680px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

.grid-item {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  // padding: 0 10vw;
}
