<!--Brian Langejans: TheBguy87 | Kurt Wietelmann: kwietelmann | 12/10/2022-->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class="parent-container">
  <mat-form-field appearance="fill" class="building-selector">
    <mat-label class="montserrat-500">Choose a Hall</mat-label>
    <mat-select
      [(value)]="selectedHall"
      (selectionChange)="onHallChange($event)"
    >
      <mat-option class="montserrat-500" value="bolt">Bolt</mat-option>
      <mat-option class="montserrat-500" value="heyns">Heyns</mat-option>
      <mat-option class="montserrat-500" value="timmer">Timmer</mat-option>
      <mat-option class="montserrat-500" value="test">Test</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <h1 class="building-header">{{this.selectedHall}}</h1> -->
  <div class="grid-parent-container">
    <div class="grid-container">
      <div class="grid-item">
        <h2 class="machine-header cabin-600">Washers</h2>
        <!-- for each machine, check to make sure it is in the correct buildinig and the correct type of machine -->
        <ng-container class="card-container" *ngFor="let machine of washers">
          <app-machine-card
            [machine]="machine"
            *ngIf="machine.name.indexOf('/' + this.selectedHall) > -1"
            (toggleNotifs)="onChange($event)"
          ></app-machine-card>
        </ng-container>
      </div>
      <div class="grid-item">
        <h2 class="machine-header cabin-600">Dryers</h2>
        <ng-container class="card-container" *ngFor="let machine of dryers">
          <app-machine-card
            [machine]="machine"
            *ngIf="machine.name.indexOf('/' + this.selectedHall) > -1"
            (toggleNotifs)="onChange($event)"
          ></app-machine-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<br />
