//help with rows and columns from https://www.w3schools.com/howto/howto_css_two_columns.asp
.card-container {
  display:flex;
  flex: 1;
  border-width: 2px;
  border-color: black;
}
.column {
  float: left;
  width: 20%;
  margin-right: 5%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.building-header {
  font-size: 1.5vw;
}

.machine-header {
  font-size: 1vw;
}