<!--Brian Langejans: TheBguy87 | Kurt Wietelmann: kwietelmann | 12/10/2022-->
<h1 class="building-header">Bolt</h1>
<div class="row">
  <div class="column">
    <h2 class="machine-header">Washers</h2>
    <!-- for each machine, check to make sure it is in the correct buildinig and the correct type of machine -->
    <ng-container class="card-container" *ngFor="let machine of washers">
      <app-machine-card [machine]="machine" *ngIf="machine.name.indexOf('/bolt') > -1"
        (toggleNotifs)="onChange($event)"></app-machine-card>
    </ng-container>
  </div>
  <div class="column">
    <h2 class="machine-header">Dryers</h2>
    <ng-container class="card-container" *ngFor="let machine of dryers">
      <app-machine-card [machine]="machine" *ngIf="machine.name.indexOf('/bolt') > -1"
        (toggleNotifs)="onChange($event)"></app-machine-card>
    </ng-container>
  </div>
</div>
<br>
<hr>
<!-- <h1 class="building-header">Gamma</h1>
<div class="row">
  <div class="column"> -->
    <!-- for each machine, check to make sure it is in the correct buildinig and the correct type of machine -->
    <!-- <h2 class="machine-header">Washers</h2>
    <ng-container class="card-container" *ngFor="let machine of washers">
      <app-machine-card [machine]="machine" *ngIf="machine.name.indexOf('/gamma') > -1"
        (toggleNotifs)="onChange($event)"></app-machine-card>
    </ng-container>
  </div>
  <div class="column">
    <h2 class="machine-header">Dryers</h2>
    <ng-container class="card-container" *ngFor="let machine of dryers">
      <app-machine-card [machine]="machine" *ngIf="machine.name.indexOf('/gamma') > -1"
        (toggleNotifs)="onChange($event)"></app-machine-card>
    </ng-container>
  </div>
</div>
-->
<h1 class="building-header">Test</h1>
<div class="row">
  <div class="column">
    <!-- for each machine, check to make sure it is in the correct buildinig and the correct type of machine -->
    <h2 class="machine-header">Washers</h2>
    <ng-container class="card-container" *ngFor="let machine of washers">
      <app-machine-card [machine]="machine" *ngIf="machine.name.indexOf('/test') > -1"
        (toggleNotifs)="onChange($event)"></app-machine-card>
    </ng-container>
  </div>
  <div class="column">
    <h2 class="machine-header">Dryers</h2>
    <ng-container class="card-container" *ngFor="let machine of dryers">
      <app-machine-card [machine]="machine" *ngIf="machine.name.indexOf('/test') > -1"
        (toggleNotifs)="onChange($event)"></app-machine-card>
    </ng-container>
  </div>
</div>
