.machine-card {
  flex: 1;
}

.name-label {
  //font-size: 20%;
  flex: 1;
}

.on-label {
  font-size: 20px;
  font-weight: 500;
  color: darkred;
  flex: 1;
  margin-left: 2%
}

.off-label {
  font-size: 20px;
  font-weight: 500;
  color: darkgreen;
  flex: 1;
  margin-left: 2%
}

.unavailable-label {
  font-size: 20px;
  font-weight: 500;
  color: darkslategray;
  flex: 1;
  margin-left: 2%
}

.toggle {
  margin-left: 2%
}
