<!--Brian Langejans: TheBguy87 | Kurt Wietelmann: kwietelmann | 12/10/2022-->
<mat-card [ngStyle]="{'background-color': (machine.status==='Off') ? '#b1ffb1' : '#ffb7b7'}">
  <mat-card-content style="display: flex">
    <p class="name-label">{{machine.name}}</p>
    <p *ngIf="machine.status === 'Off'" class="off-label">
      Open
    </p>
    <p *ngIf="machine.status === 'On'" class="on-label">
      Running
    </p>
    <p *ngIf="machine.status === 'Unavailable'" class="unavailable-label">
      Unavailable
    </p>
    <app-admin-toggle [machine]="machine" (toggleOffline)="onChange($event)"></app-admin-toggle>
  </mat-card-content>
</mat-card>